<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="game_name" label="Введите название игры:" placeholder="Название"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="game_rating" label="Введите оценку игры:" placeholder="Название"></ion-input>
  </ion-item>
  <ion-button (click)="btn_click()" shape="round">Добавить игру<ion-icon slot="start" name="heart"></ion-icon></ion-button>

  <ion-grid>
    <ion-item *ngFor="let game of games_list" lines="none">
    <ion-row>
      <ion-col>{{game.g_name}}</ion-col>
      <ion-col>{{game.g_rating}}</ion-col>
    </ion-row>
    </ion-item>
  </ion-grid>
  
    
</ion-content>
