<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content>
    <ion-list [(ngModel)]="appPages" id="labels-list">
      <ion-item *ngFor="let page of appPages" lines="none">
        <ion-icon aria-hidden="true" slot="start"></ion-icon>
        <ion-label>{{page['title']}} <ion-icon name="{{page['icon']}}"></ion-icon></ion-label>
      </ion-item>
    </ion-list>


    <ion-list [(ngModel)]="games" id="labels-list">
      <ion-list-header>Игры</ion-list-header>
      <ion-item *ngFor="let game of games" lines="none">
        <ion-icon aria-hidden="true" slot="start"></ion-icon>
        <ion-label>{{game}}</ion-label>
      </ion-item>
    </ion-list>
    
  <ion-item>
    <ion-input [(ngModel)]="gameName" label="Введите название игры:" placeholder="Название"></ion-input>
  </ion-item>
    
    <ion-button (click)="btn_click()" shape="round">Добавить игру<ion-icon slot="start" name="heart"></ion-icon></ion-button>
</ion-content>
